@model IEnumerable<String>


@{
    ViewBag.Title = "TV Shows";
    Layout = "Index";
}

<h2>TV Shows</h2>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}